.login-div {
    justify-content: space-between;
}
.register-btn {
    margin-left: 20px;
}
.student-help-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.about-us-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
}